/* Header */
.header img {
  margin: 1em auto 0;
}
.brand-shield {
  display: none;
}
.brand-name {
  display: block;
}
@media (min-width: 768px) {
  .brand-shield {
    display: block;
  }
  .brand-name {
    display: none;
  }
}
/* Page */
.button.is-embed {
  background: #cca667;
  background: -webkit-linear-gradient(to right,#fdeed8,#cca667);
  background: linear-gradient(to right,#fdeed8,#cca667);
  border: none;
  color: #1d1d1f;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.textarea.is-embed {
  font-size: 11px;
  min-height: 50px;
  resize: none;
  white-space: nowrap;
}
.hero.is-embed {
  background: #cca667;
  background: -webkit-linear-gradient(to right,#fdeed8,#cca667);
  background: linear-gradient(to right,#fdeed8,#cca667);
}
.hero.is-embed,
.hero.is-embed .title,
.hero.is-embed .subtitle {
  color: #1d1d1f;
}
.container.is-fluid {
  margin-top: 5%;
}
@media (min-width: 768px) {
  .container.is-fluid {
    width: 768px;
  }
  .textarea.is-embed {
    min-height: 50px;
  }
}
.p-notice {
  font-size: 11px;
  text-align: center;
  color: #8e8e8e;
  padding: 0.5em;
  border-radius: 4px;
}
.box-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer p {
  font-size: 11px;
  color: #8e8e8e;
  text-align: center;
}
.mt-1em {
  margin-top: 1em;
}